<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minigris</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Dancing Script', cursive;
        }
    </style>
</head>
<body>

<div class="content" align="center">
    <h1 align="center">User Registration</h1>
    <div class="registrationform" align="center">
        <form th:action="@{'/register'}" method="post" th:object="${user}">

            <div align="center" style="padding-right: 32px;">
            <label style="color: white; font-weight: bold;">Email:</label>
            <input class="inputform" type="email" placeholder="Register Email" th:field="*{email}"/><br/>
            </div>

            <div align="center" style="padding-right: 57px;">
            <label style="color: white; font-weight: bold">Password:</label>
            <input class="inputform" type="password" placeholder="Register Password" th:field="*{password}"/><br/>
            </div>
            <div align="center">
                <button class="pigbutton" onmouseover="playSound()" type="submit">CREATE</button>
                <a class="pigbutton" onmouseover="playSound()" th:href="@{'/'}">BACK</a>
            </div>
        </form>

        <div>
            <br/>
            <span th:if="${param.error}" style="color:lightpink; background-color: #6690a0; padding: 5px;">ERROR: Either email already exist or both fields needs to be filled</span>
        </div>
    </div>
</div>

<script src="/js/sound.js"></script>
</body>
</html>